@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
:root {
    /* colors */
    --black: #000000;
    --white: #ffffff;
    --red:#F24645;
    --pink:#FFECEC;
    /* border */
    --border: 1px solid var(--red);
    /* frame */
    --title-height: 60px;
    --main-height: calc(100vh - var(--title-height));
  }

html, a, a:visited, input {
    font-weight: 600;
    font-size: 0.9em;
    color: var(--red);
    background-color: var(--pink);
    text-align: center;
}

body {
    font-family: Roboto Mono, monospace;

}

a:hover {
    text-decoration: none;
}